@charset "UTF-8";
/* CSS Document */
/* 共通設定 */
body {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
p, a, span {
    font-size: 14px;
}
a {
    text-decoration: none;
}

/*header*/
.header {
    width: 100%;
    height: 100px;
    background-color: #9362c4;
}
.head_logo {
    float: left;
}
.head_nav {
    float: right;
    font-size: 0;
    margin-top: 15px;
}
.head_nav li{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}
.head_nav li::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1px;
    height: 20px;
    background-color: #804e6b;
}
.head_nav li:last-child::after {
    display: none;
}
.head_nav li:last-child {
    padding-right: 0;
}
.header_inner {
    margin: 0 auto;
    padding: 35px 0 0 50px;
    width: 1160px;
    height: 100%;
    box-sizing: border-box;
}
.head_nav li a {
    color: #fff;
}
/*main visual*/
.main_info {
    padding-top: 40px;
}
.main_visual {
    width: 100%;
    font-size: 0;
    position: relative;
}
.main_img img {
    width: 100%;
    min-width: 1050px;
    height: auto;
}
.main_ttl {
    position: absolute;
    top: 35px;
    right: 165px;
}

/*main info*/
.main_info {
    width: 100%;
    background-image: url(../img/しばた_top_pc-assets/main_bg.png);
}
.main_info_inner {
    margin: 0 auto;
    position: 50px 0;
    width: 1050px;
}
.main_info_title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-left: 37px;
    line-height: 27px;
}
.main_info_title::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 27px;
    height: 27px;
    background-image: url("../img/しばた_top_pc-assets/ttl_icon.png");
}
.new_info_list {
    padding: 0 14px;
    border: 1px solid #a3a182;
    background-color: #fff;
}
.new_info_list li {
    margin-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px dotted #a3a182;
    font-size: 0px;
}
.new_info_list li:last-child {
    border-bottom: 0;
}
.new_info_day,
.new_info_text {
    display: inline-block;
    font-size: 16px;
}
.new_info_text {
    margin-left: 20px;
}
.sweets_inner {
    margin-top: 40px;
}
.sweets_list li {
    display: inline-block;
    margin-left: 22px;
}
.sweets_list li:first-child {
    margin-left: 0;
}
.sweets_list {
    font-size: 0;
}
.sweets_list li img {
    width: 246px;
}
.topics_inner {
    margin-top: 40px;
	padding-bottom: 60px;
}
.topics_list li {
    display: inline-block;
    margin-left: 30px;
}
.topics_list li:first-child {
    margin-left: 0;
}
.topics_list {
    font-size: 0;
}
.topics_list li a {
    font-size: 0;
}
.topics_list li img {
    width: 510px;
}
.topics_link {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    color: #000;
    text-align: right;
}
.topics_link::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8.7px solid #000;
}
/*footer*/
.footer {
    padding: 40px 0 45px 0;
    color: #fff;
    background-color: #9362c4;
}
.footer_inner {
    margin: 0 auto;
    width: 1050px;
}
.footer_list {
    float: left;
    font-size: 0;
}
.footer_sns {
    float: right;
}
.footer_list li {
    display: inline-block;
    margin-left: 50px;
    width: 225px;
}
.footer_list li:first-child {
    margin-left: 0;
}
.footer_list_title {
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
    line-height: 27px;
    font-size: 18px;
    font-weight: normal;
}
.footer_list_title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 27px;
    background-image: url("../img/しばた_top_pc-assets/footer_icon.png");
}
.footer_list_address {
    font-size: 14px;
    line-height: 1.2;
}
.footer_tel {
    position: relative;
    margin-top: 15px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro";
}
.footer_tel::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20px;
    height: 16px;
    background-image: url("../img/しばた_top_pc-assets/tell_icon.png");
}
.footer_sns {
    padding-left: 22px;
    height: 88px;
    text-align: center;
    border-left: 2px dotted #fff;
}
.footer_sns_list {
    margin-top: 20px;
    font-size: 0;
}
.footer_sns_list li {
    display: inline-block;
    margin-left: 20px;
}
.copyright {
    float: right;
    margin-top: 8px;
    font-size: 12px;
    color: #cfc0dd;
}